@model ComputerReparatieshop.Web.Models.Order_Detail_Parts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order_Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Details.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details.HoursWorked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.HoursWorked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <p>
            @Html.ActionLink("Add New Part", "CreatePart", new { Id = Model.Details.OrderId })
        </p>
        @{ComputerReparatieshop.Web.Models.OrderPart_Detail dummy = Model.OrderParts.FirstOrDefault();}
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName(nameof(dummy.Name))
                </th>
                <th>
                    @Html.DisplayName(nameof(dummy.Amount))
                </th>
                <th>
                    @Html.DisplayName(nameof(dummy.Price));
                </th>
            </tr>

            @foreach (var item in Model.OrderParts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditPartList", new { Id = Model.Details.OrderId, partId = item.PartId }) |
                        @Html.ActionLink("Details", "DetailsPartList", new { Id = Model.Details.OrderId, partId = item.PartId }) |
                        @Html.ActionLink("Delete", "DeletePartList", new { Id = Model.Details.OrderId, partId = item.PartId })
                    </td>
                </tr>
            }
        </table>

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Details.OrderId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    </dl>
</div>