@model IEnumerable<ComputerReparatieshop.Web.Models.PartsList_Detail>

@{
    ViewBag.Title = "todelete";
}

<h2>todelete</h2>

<p>
    @Html.ActionLink("Create New", "CreatePart")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PartId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PartId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPart", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "DetailsPart", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "DeletePart", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
